In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, accuracy_score, confusion_matrix
from matplotlib import style
from sklearn.preprocessing import StandardScaler
import seaborn as sb
import warnings

In [2]:
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("Assets/fruits.csv")
df.head()

   diameter  weight FruitName
0       3.0      30    Banana
1       6.0     100     Apple
2       6.1      95     Apple
3       3.2      35    Banana
4       5.5      80     Apple

In [8]:
df.count()

diameter     22
weight       22
FruitName    22
dtype: int64

In [9]:
X = df.iloc[:,:-1]

In [11]:
X.head()

   diameter  weight
0       3.0      30
1       6.0     100
2       6.1      95
3       3.2      35
4       5.5      80

In [12]:
X.shape

(22, 2)

In [13]:
y = df.iloc[:,-1]

In [14]:
y

0     Banana
1      Apple
2      Apple
3     Banana
4      Apple
5     Banana
6     Banana
7     Banana
8      Apple
9      Apple
10     Apple
11    Banana
12     Apple
13     Apple
14    Banana
15    Banana
16     Apple
17     Apple
18    Banana
19    Banana
20     Apple
21     Apple
Name: FruitName, dtype: object