In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("Assets/Height_Age_Dataset.csv")
df

    Age  Height
0    10     138
1    11     138
2    12     138
3    13     139
4    14     139
..  ...     ...
66   76     204
67   77     205
68   78     206
69   79     207
70   80     208

[71 rows x 2 columns]

In [ ]:
will do it in morning using decisiontreeregressor first data pre-processing.