In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from matplotlib import style
import warnings

In [47]:
df = pd.read_csv("Assets/homeprices_area.csv")

In [48]:
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [51]:
X = df[['area']]
X

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [52]:
X.ndim

2

In [53]:
y = df['price']

In [54]:
y

0    550000
1    565000
2    610000
3    680000
4    725000
Name: price, dtype: int64

In [55]:
X.isnull().sum()

area    0
dtype: int64

In [56]:
X

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [57]:
rf = RandomForestRegressor(n_estimators=10)

rf.fit(X,y)

RandomForestRegressor(n_estimators=10)

In [58]:
predict_df = pd.read_csv('Assets/areas.csv')
predict_df

    area
0   1000
1   1500
2   2300
3   3540
4   4120
5   4560
6   5490
7   3460
8   4750
9   2300
10  9000
11  8600
12  7100

In [60]:
pred = rf.predict(predict_df)
pred

array([573500., 573500., 573500., 670500., 711500., 711500., 711500.,
       654500., 711500., 573500., 711500., 711500., 711500.])