In [298]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import warnings
warnings.simplefilter("ignore")
import math

In [49]:
df = pd.read_csv('food_coded.csv')
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [91]:
df.isnull().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         26
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [65]:
df.columns

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

In [99]:
m = df["calories_chicken"].median()
m

610.0

In [116]:
df["calories_chicken"]=df["calories_chicken"].fillna(m)

In [118]:
df.isnull().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         26
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [128]:
m1 = df["calories_day"].median()

In [132]:
df["calories_day"] = df["calories_day"].fillna(m1)

In [140]:
df["type_sports"] = df["type_sports"].ffill()

In [144]:
df["weight"]

0                           187
1                           155
2      I'm not answering this.
3                 Not sure, 240
4                           190
                 ...
120                         156
121                         180
122                         120
123                         135
124                         135
Name: weight, Length: 125, dtype: object

In [238]:
def clean_data(value):
    if isinstance(value, str):
        value = re.sub(r'\D+','',value)
        return int(value) if value else np.nan
    return value

df["weight"] = df["weight"].apply(clean_data)

In [152]:
df['weight']

0      187.0
1      155.0
2        NaN
3      240.0
4      190.0
       ...
120    156.0
121    180.0
122    120.0
123    135.0
124    135.0
Name: weight, Length: 125, dtype: float64

In [161]:
df.isnull().sum()

GPA                 2
Gender              0
breakfast           0
calories_chicken    0
calories_day        0
                   ..
type_sports         0
veggies_day         0
vitamins            0
waffle_calories     0
weight              3
Length: 61, dtype: int64

In [177]:
df = df.dropna(subset = ['weight'])

In [179]:
df.isnull().sum()

GPA                 2
Gender              0
breakfast           0
calories_chicken    0
calories_day        0
                   ..
type_sports         0
veggies_day         0
vitamins            0
waffle_calories     0
weight              0
Length: 61, dtype: int64

In [198]:
null_mask = df["GPA"].isnull()
null_index = df[null_mask].index
print(null_index)

Index([15, 102], dtype='int64')

In [216]:
df.iloc[null_index]

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
16,4,1,1,265,3.0,420.0,1,"Saltfish, Candy and Kit Kat",Stress,1.0,...,1.0,2.0,1,580.0,345,Hockey,5,1,760,145.0
105,3,1,1,720,3.0,420.0,2,"ice cream, chips, candy","Boredom, laziness, anger",2.0,...,2.0,1.0,3,1165.0,690,volleyball,2,2,1315,125.0

In [246]:
df[(df["GPA"].isnull())]

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
15,NaN,2,2,430,3.0,980.0,2,"cookies, donuts, candy bars",boredom,2.0,...,2.0,1.0,1,940.0,345,Hockey,1,2,1315,180.0
61,NaN,1,1,610,2.0,980.0,2,"Macaroons, truffles, peanut butter n chocolate...","I do not really eat ""comfort food"" but I guess...",3.0,...,2.0,2.0,2,725.0,500,Water polo and running,3,1,1315,118.0
102,NaN,1,1,610,4.0,420.0,2,"Pizza, mashed potatoes, spaghetti","Anger, sadness",3.0,...,1.0,2.0,2,940.0,500,"Volleyball, Track",5,1,900,135.0
104,NaN,1,1,720,3.0,420.0,2,"Chips, chocolate, ,mozzarella sticks","Boredom, sadness, anxiety",2.0,...,2.0,2.0,5,940.0,690,None at the moment,5,1,1315,230.0

In [240]:
def clean_data(value):
    if isinstance(value, str):
        value = re.sub(r'\D+','',value)
        return int(value) if value else np.nan
    return value

df["GPA"] = df["GPA"].apply(clean_data)

In [242]:
df["GPA"]

0        24.0
1      3654.0
3        32.0
4        35.0
5       225.0
        ...
120      35.0
121       3.0
122    3882.0
123       3.0
124      39.0
Name: GPA, Length: 122, dtype: float64

In [248]:
df["GPA"] = pd.to_numeric(df["GPA"])

In [253]:
m3 = df["GPA"].median()

In [255]:
df["GPA"] = df["GPA"].fillna(m3)

In [259]:
df["GPA"].isnull().sum()

0

In [261]:
df.isnull().sum()

GPA                 0
Gender              0
breakfast           0
calories_chicken    0
calories_day        0
                   ..
type_sports         0
veggies_day         0
vitamins            0
waffle_calories     0
weight              0
Length: 61, dtype: int64

In [264]:
df.describe()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,...,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories,weight
count,122.000000,122.000000,122.000000,122.000000,122.000000,121.000000,122.000000,103.000000,119.000000,122.000000,...,121.000000,121.000000,120.000000,122.000000,121.000000,122.000000,122.000000,122.000000,122.000000,122.00000
mean,219.754098,1.385246,1.106557,578.442623,3.024590,508.223140,1.754098,2.640777,2.789916,2.639344,...,3.090909,1.223140,1.383333,3.311475,951.859504,558.934426,3.991803,1.516393,1079.959016,159.04918
std,725.670443,0.488660,0.309822,129.071833,0.581578,232.782856,0.432396,1.888325,1.015757,1.836569,...,1.095445,0.418083,0.488237,1.437870,197.982672,151.732732,1.087083,0.501792,247.897353,32.37662
min,3.000000,1.000000,1.000000,265.000000,2.000000,315.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,580.000000,345.000000,1.000000,1.000000,575.000000,100.00000
25%,32.000000,1.000000,1.000000,430.000000,3.000000,420.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,1.000000,1.000000,2.000000,725.000000,500.000000,3.000000,1.000000,900.000000,135.00000
50%,35.000000,1.000000,1.000000,610.000000,3.000000,420.000000,2.000000,2.000000,3.000000,2.000000,...,3.000000,1.000000,1.000000,3.000000,940.000000,500.000000,4.000000,2.000000,1315.000000,155.00000
75%,38.000000,2.000000,1.000000,692.500000,3.000000,420.000000,2.000000,3.000000,3.000000,3.000000,...,4.000000,1.000000,2.000000,5.000000,1165.000000,690.000000,5.000000,2.000000,1315.000000,180.00000
max,3904.000000,2.000000,2.000000,720.000000,4.000000,980.000000,2.000000,9.000000,5.000000,9.000000,...,6.000000,2.000000,2.000000,5.000000,1165.000000,850.000000,5.000000,2.000000,1315.000000,265.00000

In [266]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 122 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           122 non-null    float64
 1   Gender                        122 non-null    int64
 2   breakfast                     122 non-null    int64
 3   calories_chicken              122 non-null    int64
 4   calories_day                  122 non-null    float64
 5   calories_scone                121 non-null    float64
 6   coffee                        122 non-null    int64
 7   comfort_food                  122 non-null    object
 8   comfort_food_reasons          121 non-null    object
 9   comfort_food_reasons_coded    103 non-null    float64
 10  cook                          119 non-null    float64
 11  comfort_food_reasons_coded.1  122 non-null    int64
 12  cuisine                       106 non-null    float64
 13  diet_current                  122 non-null    object
 14  diet_current_coded            122 non-null    int64
 15  drink                         120 non-null    float64
 16  eating_changes                120 non-null    object
 17  eating_changes_coded          122 non-null    int64
 18  eating_changes_coded1         122 non-null    int64
 19  eating_out                    122 non-null    int64
 20  employment                    113 non-null    float64
 21  ethnic_food                   122 non-null    int64
 22  exercise                      110 non-null    float64
 23  father_education              121 non-null    float64
 24  father_profession             119 non-null    object
 25  fav_cuisine                   121 non-null    object
 26  fav_cuisine_coded             122 non-null    int64
 27  fav_food                      121 non-null    float64
 28  food_childhood                122 non-null    object
 29  fries                         122 non-null    int64
 30  fruit_day                     122 non-null    int64
 31  grade_level                   122 non-null    int64
 32  greek_food                    122 non-null    int64
 33  healthy_feeling               122 non-null    int64
 34  healthy_meal                  122 non-null    object
 35  ideal_diet                    122 non-null    object
 36  ideal_diet_coded              122 non-null    int64
 37  income                        121 non-null    float64
 38  indian_food                   122 non-null    int64
 39  italian_food                  122 non-null    int64
 40  life_rewarding                121 non-null    float64
 41  marital_status                121 non-null    float64
 42  meals_dinner_friend           119 non-null    object
 43  mother_education              119 non-null    float64
 44  mother_profession             121 non-null    object
 45  nutritional_check             122 non-null    int64
 46  on_off_campus                 121 non-null    float64
 47  parents_cook                  122 non-null    int64
 48  pay_meal_out                  122 non-null    int64
 49  persian_food                  121 non-null    float64
 50  self_perception_weight        121 non-null    float64
 51  soup                          121 non-null    float64
 52  sports                        120 non-null    float64
 53  thai_food                     122 non-null    int64
 54  tortilla_calories             121 non-null    float64
 55  turkey_calories               122 non-null    int64
 56  type_sports                   122 non-null    object
 57  veggies_day                   122 non-null    int64
 58  vitamins                      122 non-null    int64
 59  waffle_calories               122 non-null    int64
 60  weight                        122 non-null    float64
dtypes: float64(22), int64(27), object(12)
memory usage: 59.1+ KB

In [268]:
df.isnull().sum()

GPA                 0
Gender              0
breakfast           0
calories_chicken    0
calories_day        0
                   ..
type_sports         0
veggies_day         0
vitamins            0
waffle_calories     0
weight              0
Length: 61, dtype: int64

In [274]:
print(df.isnull().sum().sort_values(ascending=False))

comfort_food_reasons_coded    19
cuisine                       16
exercise                      12
employment                     9
cook                           3
                              ..
grade_level                    0
greek_food                     0
healthy_feeling                0
healthy_meal                   0
weight                         0
Length: 61, dtype: int64

In [296]:
df["comfort_food_reasons_coded"]

0      9.0
1      1.0
3      2.0
4      1.0
5      4.0
      ...
120    NaN
121    NaN
122    NaN
123    NaN
124    NaN
Name: comfort_food_reasons_coded, Length: 122, dtype: float64

In [276]:
df["comfort_food_reasons_coded"].isnull().sum()

19

In [292]:
round(df["comfort_food_reasons_coded"].mean())

3

In [300]:
df["comfort_food_reasons_coded"].mean()

2.6407766990291264

In [304]:
rounded_mean = math.ceil(df["comfort_food_reasons_coded"].mean())
print(float(rounded_mean))

3.0

In [310]:
rounded_float_mean= float(rounded_mean)
rounded_float_mean

3.0